//- content structure
#content
    include ../addcodebuttonmodule/addcodebutton.pug
    #overlay-frame
        include ../acceptcodeframemodule/acceptcodeframe.pug
        //- include ../
    #scroll-frame
        include ../codeselectionmodule/codeselection.pug