//- content structure
#content
    #overlay-frame
        include ../acceptcodeframemodule/acceptcodeframe.pug
        //- include ../
    #scroll-frame
        include ../addcodebuttonmodule/addcodebutton.pug
