//- usermodal structure
#usermodal
    #useraction-frame
        #useraction-header 
            h2#useraction-header-title Warning!
            #useraction-close-button.click-button: svg: use(href="#svg-cross-icon")
        #useraction-message Please confirm the deletion of this QR-Code
        #useraction-options
            #useraction-reject-button.click-button Cancel
            #useraction-accept-button.click-button Yes!
