//- addcodebutton structure
#addcodebutton-frame
    #add-by-scan.click-button
        svg: use(href="#svg-qrscan-icon")
        h1 Add QR-Code<br>
            | by<br>
            | Scanning
    #add-by-input.click-button
        svg: use(href="#svg-code-icon")
        h1 Add QR-Code<br> 
            | by<br> 
            | Typing or Pasting
