// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = white
cd-flash = purple
cd-background = black

element-background = #000c
/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    color cd-foreground
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    height 100vh
    width 100%
    overflow hidden
    background-image url('img/fullhd-66-andrew-kliatskyi-tsmO0npD4pY-unsplash.webp')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 12pt
