// codeselection styles
#codeselection-element-template
    display none
    height 100%
    width 100%

.element
    height 100%
    display flex
    flex-direction: column
    justify-content: space-around
    background-color rgba(125, 188, 255, 0.2)
    background-color rgba(0, 188, 255, 0.2)
    background-color rgba(0, 90, 150, 0.2)
    
    h1
        font-size 22pt
        word-break: break-all
        padding: 30px

    h2 
        font-size: 13pt
        margin-top 10px

    .show-code-button
        background-color #024c
        border-radius: 15px
        padding 40px
        width 80%
        box-sizing: border-box
        margin 0 auto

        svg
            height 100px
            width 100px


    .delete-code-button
        background-color #300c
        border-radius: 30px
        padding 20px
        width 160px
        box-sizing: border-box
        margin 0 auto

        svg
            height 50px
            width 50px
