// codeselection styles
#codeselection
    height 100%
    scroll-snap-type: y mandatory;
    display flex
    background-color rgba(0, 0, 0, 0.2)
    scroll-y scroll
    

#blue-element
    background-color: blue

#green-element
    background-color green

#red-element
    background-color red

.element
    scroll-snap-align: start;
    height 100%
    width 100vw