//- acceptcodeframe structure
#acceptcodeframe
    #acceptcode-buttons 
        #cancel-button
            svg: use(href="#svg-cross-icon")
        #accept-button
            svg: use(href="#svg-check-icon")